@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>BlackCoder All Rights Received, Dont Reuse it without informing, you may get legal actions automatically due to copyright Issue</p>
